body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .app {
    text-align: center;
  }
  
  header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
  }
  
  .banner {
    width: auto;
    height: auto;
  }
 
  .banner-background {
    background-image:url('../../frontend/public/rowerfotka.jpg') ;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 300px; /* Adjust height as needed */
    color: white; /* For text on top of the banner */
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 6px black; /* Make text readable */
    font-size: 3rem;
  }
  
  
  main {
    padding: 20px;
  }
  
  .card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  input, select, button {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005bb5;
  }

  .register-button {
    background-color: #00e64d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  